.navbarHead {
    display: flex;
    justify-content: space-between;
}
.social {
    display: flex;
    width: 10%;
    justify-content: space-evenly;
}
.logo {
    display: flex;
}
a {
    font-size: 30px;
    color: black;
}
