body{
    background-image: url("https://imgio.trivago.com/gtximages/itemimages/71/70/7170_v6_y.jpeg");
    background-size: cover;
    text-align: center;
}
h2{
  font-size: 50px;  font-family: 'Dancing Script', cursive;
}
b{
    font-family: 'Nabla', cursive;
    font-size: 40px;
}
label{
    font-size: 22px;margin: 10px;
}
input{
    margin: 7px;width: 30%;height: 20px;font-size: larger;
}
.button{
    background-color: yellow;width: 50%;font-size: larger;
}
fieldset{
    width: 50%;
    margin-left:25% ;
    background-color: rgba(255, 255, 255, 0.263);
}
footer{
    color:rgb(18, 43, 58);
    font-size: 20px;
    margin-top: 50px;
}
mark{
    background-color: rgba(255, 255, 255, 0.467);
}